.DS_Store
/Carthage
/Pods/
/measurement-kit-test.xcodeproj/project.xcworkspace/xcshareddata/
/measurement-kit-test.xcodeproj/project.xcworkspace/xcuserdata/lorenzo.xcuserdatad/
/measurement-kit-test.xcodeproj/project.xcworkspace/xcuserdata/sbasso.xcuserdatad/
/measurement-kit-test.xcodeproj/xcuserdata/lorenzo.xcuserdatad/
/measurement-kit-test.xcodeproj/xcuserdata/sbasso.xcuserdatad/
/measurement-kit-test.xcworkspace/
